#topPane {
    -fx-background-color: #F36E21;
}

#menuPane {
    -fx-background-color: #F36E21;
}

#menuButton {
    -fx-background-color: #F36E21;
    -fx-border-style: none;
    -fx-graphic: url("../icons/menu.png");
}

#menuButton:hover {
    -fx-background-color: #f9b086;
}

#btnBox {
    -fx-border-style: none;
}

#addTabButton {
    -fx-background-color: #F36E21;
    -fx-border-style: none;
    -fx-graphic: url("../icons/add.png");
}

#addTabButton:hover {
    -fx-background-color: #f9b086;
}

#removeTabButton {
    -fx-background-color: #F36E21;
    -fx-border-style: none;
    -fx-graphic: url("../icons/subtract.png");
}

#removeTabButton:hover {
    -fx-background-color: #f9b086;
}

.menu-button {
    -fx-background-color: #F36E21;
    -fx-font-weight: bold;
    -fx-font-family: monospace;
    -fx-font-size: 150%;
    -fx-border-style: none;
}

.menu-button:hover {
    -fx-background-color: #f9b086;
}