*{
    -search-color: #513127;
}

#search-tab-pane {
    -fx-border-style: solid;
    -fx-border-color: black;
    -fx-border-radius: 25;
    -fx-background-color: white;
}

#search-tab-pane .tab-header-background {
    -fx-background-color: white;
}

#search-tab-pane .tab {
    -fx-background-color: white;
    -fx-pref-width: 125;
    -fx-alignment: center;
}

.search-tab {
    -fx-background-radius: 10 10 0 0;
}

#search-tab-pane .tab:selected {
    -fx-background-color: -search-color;
}

#search-tab-pane .tab:selected .tab-label {
    -fx-text-fill: white;
}

#search-tab-pane .tab-header-area {
    -fx-padding: 0 0 0 0;
}

.search-tab-content {
    -fx-border-style: solid;
    -fx-border-color: -search-color;
    -fx-background-color: -search-color;
    -fx-border-radius: 10;
    -fx-background-radius: 0 10 10 10;
}

#searchButton {
    -fx-border-style: none;
    -fx-background-color: white;
    -fx-graphic: url("../icons/search.png");
}